{% extends "base.html" %}
{% block title %}Wifi Monitor - Device History{% endblock %}
{% block js_dependency %}
    <script type=text/javascript src="{{ url_for('static', filename='js/bootstrap-select.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-select.css') }}">
    <script type=text/javascript src="{{ url_for('static', filename='js/jquery.tablesorter.js') }}"></script>
{% endblock %}

{% block body %}
    <form action="/device_history" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <select class="selectpicker" name="mac" data-live-search="true">
            {% for dev in distinct_devices %}
                <option value="{{ dev[0] }}">{{ dev[0] }} {% if dev[1]|length > 0 %}({{ dev[1] }}){% endif %}</option>
            {% endfor %}
        </select>
        <input type="submit" class="btn btn-primary" value="Search">
    </form>

    {%  if dev_history is defined %}
        <table id="deviceHistory" cellpadding="10" cellspacing="5" class="table-bordered table-hover tablesorter">
        <thead>
            <th>Date</th>
            <th>SSID</th>
            <th>SSI Signal</th>
        </thead>
        <tbody>
            {%  for dev in dev_history %}
                <tr>
                    <td>{{ dev.timestamp | datetime }}</td>
                    <td>{{ dev.ssid }}</td>
                    <td>{{ dev.ssi_signal }}</td>
                </tr>
            {% endfor %}
        </tbody>
        </table>

        <script>
            $(document).ready(function()
            {
               $("#deviceHistory").tablesorter();
            });
        </script>
    {%  endif %}
{#        <table id="deviceTable" cellpadding="10" cellspacing="5" class="table-bordered table-hover tablesorter">#}
{#        <thead>#}
{#            <tr>#}
{#                <th>Device MAC</th>#}
{#                <th># of Hits</th>#}
{#                <th>Last Seen</th>#}
{#            </tr>#}
{#        </thead>#}
{#        <tbody>#}
{#            {% for dev, info in dev_count.iteritems() %}#}
{#                <tr>#}
{#                    <td>#}
{#                    {% if dev.alias|length > 0 %}#}
{#                        {{ dev.alias }}#}
{#                    {% else %}#}
{#                        {{ dev.src }}#}
{#                    {% endif %}</td>#}
{#                    <td> {{ info[0] }}</td>#}
{#                    <td>{{ info[1] | datetime }}</td>#}
{#                </tr>#}
{#            {% endfor %}#}
{#        </tbody>#}
{#    </table>#}

{% endblock %}