{% extends "base.html" %}
{% block title %}Wifi Monitor{% endblock %}

{% block body %}

    {#    <script>#}
    {#        function get_more_data() {#}
    {#            $.getJSON('/refresh_probe_requests', function (data) {#}
    {#                $(document).ready(function () {#}
    {#                    $("#probeRequestsTable").find("tr:gt(0)").remove();#}
    {##}
    {#                    console.log(data.probe_requests.length);#}
    {##}
    {#                    for (var i = 0; i < data.probe_requests.length; i++) {#}
    {#                        var pr = data.probe_requests[i];#}
    {#                        $("#probeRequestsTable").append("<tr><td>" + pr.src + "</td><td>" + pr.src_vendor + "</td><td>" + pr.ssid + "</td><td>" + pr.ssi_signal + "</td><td>" + pr.timestamp + "</td><td>" + pr.alias + "</td><td>" + pr.whitelist + "</td></tr>")#}
    {#                    }#}
    {##}
    {##}
    {#                    $("#probeHeader").text('Probe Request History (' + data.probe_requests.length + ')');#}
    {#                });#}
    {#            });#}
    {#        }#}
    {#        ;#}
    {#        setInterval(function () {#}
    {#            get_more_data()#}
    {#        }, 3000);#}
    {#    </script>#}

    <h1 id="probeHeader">Probe Request History ({{ pagination.total }})</h1>

    {{ pagination.info }}
    {{ pagination.links }}
    <table id="probeRequestsTable" class="table-bordered table-hover">
        <thead>
        <tr>
            <th>Device MAC</th>
            <th>Device Vendor</th>
            <th>SSID</th>
            <th>SSI Signal</th>
            <th>Date</th>
{#            <th>Alias</th>#}
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for pr in probe_requests %}
            <tr>
                {# title will provide the MAC address as a tool tip #}
                <td title="{{ pr.src }}">
                    {% if pr.alias|length > 0 %}
                        {{ pr.alias }}
                    {% else %}
                        {{ pr.src }}
                    {% endif %}</td>
                <td>{{ pr.src_vendor }}</td>
                <td>{{ pr.ssid }}</td>
                <td>{{ pr.ssi_signal }}</td>
                <td>{{ pr.timestamp | datetime }}</td>
{#                <td>{{ pr.alias }}</td>#}
                <td>
                    <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#editRequest"
                            data-mac_address="{{ pr.src }}" data-src_vendor="{{ pr.src_vendor }}"
                            data-alias="{{ pr.alias }}">
                        Edit
                    </button>
                </td>
            </tr>
        {% endfor %}</tbody>
    </table>
    {{ pagination.links }}

    <div class="modal fade" id="editRequest" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Edit Probe Request</h4>
                </div>
                <form method="POST" action="/page/{{ page }}" name="edit_form">
                    <div class="modal-body">
                        {{ form.csrf_token }}
                        {{ form.mac_address.label }}
                        {{ form.mac_address }}
                        <br/>
                        {{ form.device_vendor.label }}
                        {{ form.device_vendor }}
                        <br/>
                        {{ form.alias.label }}
                        {{ form.alias }}
                    </div>
                    <div class="modal-footer">
                        {#                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>#}
                        {#                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>#}
                        <input type="submit" value="Go">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>
        $('#editRequest').on('show.bs.modal', function (e) {
            var mac_address = $(e.relatedTarget).data('mac_address');
            var src_vendor = $(e.relatedTarget).data('src_vendor');
            var alias = $(e.relatedTarget).data('alias');

            $(e.currentTarget).find('input[name="mac_address"]').val(mac_address);
            $(e.currentTarget).find('input[name="device_vendor"]').val(src_vendor);
            $(e.currentTarget).find('input[name="alias"]').val(alias);
        });

    </script>

{% endblock %}

